.footer-container {
	width: 100%;
	background-color: #454545;
    padding: 60px 0;
	.content-footer {
		color: #CCCCCC;
		width: 100%;
		font-size: 14px;
        font-weight: inherit;
		.logo {
			margin-right: 50px;
		}
		.copyright {
			float: right;
		
		}
	}
}
