body {
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 0;
}

.drop-up {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #a2a2a2;
  position: fixed;
  z-index: 11;
  right: 30px;
  display: block;
  float: right;
  cursor: pointer;
  bottom: 172px;
  i {
    color: #fff;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 30px;
  }
}

.form-content{
  width: 100%;
  position: relative;
  top: -117px;
  z-index: 8;
  .main-form {

    .header-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #000000b8;
      padding: 0 35px 0 70px;
      nav {
        @include breakpoint(lores) {
          width: 100%;
          position: absolute;
          left: 0;
          top: 60px;
          padding: 0;
          z-index: 9;
        }
        .navbar-toggler {

        }
        .navbar-collapse {
          @include breakpoint(lores) {

          }
          .navbar-nav {
            @include breakpoint(lores) {
              text-align: center;
              width: 100%;
              background: #2e6a6ded !important;
              top: 20px;
              padding: 10px 35px 10px 35px
            }
            .nav-item {
              position: relative;
              @include breakpoint(lores) {
                width: auto;
                display: inline-block;
                margin: 0 auto;
                color: #fff;
              }
              &.active {
                color: #fff;
                &:after {
                  content: "";
                  position: absolute;
                  color: #aaaaaa;
                  background: #aaaaaa;
                  width: 80%;
                  height: 2px;
                  bottom: 5px;
                  left: 50%;
                  transform: translateX(-50%);
                  @include breakpoint(lores) {
                    width: 100%;
                  }
                }
              }
              &:hover {
                &:after {
                  content: "";
                  position: absolute;
                  color: #aaaaaa;
                  background: #aaaaaa;
                  width: 80%;
                  height: 2px;
                  bottom: 5px;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
      }
      .logo {
        h1 {
          font-size: 24px;
          line-height: 2.5;
          a {
            color: red;
          }
        }
        &.partner-text {
          h1 {
            a {
              color: #48BAFD;
            }
          }
        }
      }
      .bg-light {
        background: transparent !important;
        .navbar-nav {
          .nav-item {
            color: #aaaaaa;
            font-size: 18px;
            margin: 0 35px;
          }

        }
        .navbar-toggler {
          position: absolute;
          right: 0;
          border: none;
          top: 0;
          @include breakpoint(lores) {
            top: -50px;
          }
          i {
            font-size: 30px;
            color: #fff;
          }
        }
      }
    }
    .body-form {
      width: 100%;
      padding: 80px 0 0 0;
      background-color: #F5F5F5;
      min-height: 600px;
      .container-form {
        width: 552px;
        margin: 0 auto;
      }

    }
  }
}